<?xml version="1.0"?>

<model>
  <name>bartender_dispenser</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Miguel Angel</name>
    <email>duckfrost@theconstructsim.com</email>
  </author>

  <description>
  Model by: https://skfb.ly/OQMv
  </description>
</model>