<?xml version="1.0"?>
<robot name="barista_properties" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:property name="cam_px" value="-0.087" />
	<xacro:property name="cam_pz" value="0.2870" />
	<xacro:property name="cam_or" value="0" />
	<xacro:property name="cam_op" value="0" />
	<xacro:property name="cam_oy" value="0" />

  
</robot>
